{% extends 'layout/base.html' %}
{% load static %}
{% block content %}<br><br>
<section class="gift_section layout_padding-bottom">
    <div class="box ">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="img_container">
            </div>
          </div>
          <div class="col-md-7">
            <div class="detail-box">
              <div class="heading_container">
                <h2>About Us</h2>
              </div>
                <p>Welcome to Supermarket, your one-stop destination for all your grocery needs! We take pride in providing our customers with the freshest produce, highest quality products, and excellent service.</p>
                <p>At here, we strive to create a shopping experience that exceeds your expectations. Whether you're stocking up on essentials, exploring new flavors, or seeking healthy options, our diverse selection ensures there's something for everyone.</p>
                <p>Our team is dedicated to ensuring your satisfaction every step of the way. From knowledgeable staff ready to assist you with your inquiries to convenient services like online ordering and home delivery, we're here to make your shopping experience seamless and enjoyable.</p>
                <p>Thank you for choosing Us. We look forward to serving you and becoming your preferred grocery destination!</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}