{% load static %}
{% if request.user.is_authenticated %}
<header class="header_section">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
      <a class="navbar-brand" href="index.html">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  ">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">
            Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">
             About Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
          </li>
        </ul>
        <div class="user_option">
          <a href="{% url 'signout' %}">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>
              Logout
            </span>
          </a>
        </div>
      </div>
    </nav>
  </header>
  <!-- end header section -->
  <!-- slider section -->
  {% endif %}